<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Data Platform Analytics</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="font-sans max-w-2xl mx-auto p-8 leading-relaxed">
    <div class="mb-8">
        <h1 class="text-4xl font-bold text-center text-gray-800">Home Data Platform Analytics</h1>
    </div>
    <div class="grid gap-4">
      {% for notebook in all_notebooks %}
      {% set notebook_name = notebook.split('/')[-1].replace('.py', '') %}
      {% set display_name = notebook_name.replace('_', ' ').title() %}
      <div class="p-4 border border-gray-200 rounded">
        <h3 class="text-lg font-semibold mb-2">{{ display_name }}</h3>
        <div class="flex gap-2">
          <a href="{{ notebook.replace('.py', '.html') }}" class="px-3 py-1 bg-gray-100 hover:bg-gray-200 rounded">Open Notebook</a>
        </div>
      </div>
      {% endfor %}
    </div>
      <footer class="mt-8 text-center text-gray-600">
        <a href="https://github.com/kenho811/home_data_centre_public_mirror" class="text-blue-600 hover:underline" target="_blank">Follow me on Github!</a>
        <br>
        <a href="https://www.linkedin.com/in/ken-ho-283826106/" class="text-blue-600 hover:underline" target="_blank">Follow me on LinkedIn!</a>
  </body>
</html>